p {
    color: red;
}

.blue {
    background: blue;
    color: white;
    width: 150px;
}

button{
    cursor: pointer;
}

h3 {
    font-style: oblique;
}

h3:hover {
    background: blue;
    color: white;
    width: 150px;
    cursor: help;
}

.box {
    width: 100px;
    height: 100px;
}